<div class="warning-message" #loaderBar [class.is-visible]="showWarning" (click)="handleWarning(false)"></div>
<form (ngSubmit)="addMessage(message)" #chatForm="ngForm">
  <fieldset name="text-input" [class.is-image]="isImage">
    <input #text [(ngModel)]="message" [(placeholder)]="placeholder" (keyup)="onKeyUp($event)" type="text" name="text" />
    <label for="is-image"><img src="/img/icon-photo.svg" /></label>
    <input (change)="setToImage($event)" id="is-image" name="is-image" type="checkbox" />
  </fieldset>
  <input type="submit" value="SEND" />
</form>