@import '../style/theme';

:host {
  display: block;
  max-width: $l-max-width;
  margin: 0 auto;
}

header {
  background-color: #313148;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%);
  display: flex;
  height: 60px;
  width: 100%;
  max-width: $l-max-width;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 50% 200%,#6D6E88,#313148 100%);
  color: #fff;
  h1 {
    font-size: .85rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}

button {
  position: absolute;
  top: 50%;
  left: $l-gutter;
  background: none;
  border: none;
  color: #fff;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease-out;
  outline: none;
  &.is-visible {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
    pointer-events: initial;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: .8;
    }
  }
}


main {
  position: relative;
  display: block;
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: #fff;
}

.error-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($c-primary, .9);
  padding: $l-gutter ($l-gutter*2) $l-gutter $l-gutter;
  text-align: center;
  font-size: .85rem;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%);
  transition: all 250ms ease-out;
  cursor: pointer;
  &.is-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
  }
  &:hover {
    background-color: $c-primary;
  }
  &:after {
    content: "×";
    position: absolute;
    top: 50%;
    right: $l-gutter;
    transform: translateY(-50%);
  }
}