@import '../style/theme';

:host {
  display: block;
  max-width: $l-max-width;
  margin: 0 auto;
}

header {
  background-color: #313148;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 60px;
  width: 100%;
  max-width: $l-max-width;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 50% 200%,#6D6E88,#313148 100%);
  color: #fff;
  h1 {
    font-size: .85rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}


main {
  display: block;
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: #fff;
}
