$c-debug:       #bada55;
$c-border:      #eee;
$c-primary:     #32babf;

$c-copy:        #222;
$c-copy--light: #999;

$l-gutter:      16px;
$l-max-width:   520px;

$f-body:        'Lato', Arial, Helvetica, sans-serif;
