$c-debug:                #bada55;
$c-body-bg:              #eee;
$c-app-bg:               #fff;
$c-primary:              #32babf;
$c-ui-elements:          #eee;

$c-copy:                 #222;
$c-copy--light:          #999;
$c-copy--lighter:        #aaa;

$l-gutter:               16px;
$l-max-width:            520px;

$m-avatar-size:          40px;

$f-body:                 'Lato', Arial, Helvetica, sans-serif;
