@import '../../style/theme';

:host {
  display: block;
  height: 100%;
}

.chat-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__thread {
    flex-grow: 1;
    max-height: calc(100% - 58px);
    overflow: scroll;
    margin: 0;
    padding: $l-gutter;
    list-style: none;
  }
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: ($l-gutter*1.5);
  &:last-of-type {
    margin-bottom: 0;
  }
  main {
    max-width: calc(100% - 32px*2 - 38px);
  }
  aside {
    width: 38px;
    height: 38px;
    margin-right: $l-gutter;
    margin-bottom: 18px;
    background-size: cover;
    background-position: center center;
    background-color: $c-ui-elements;
    overflow: hidden;
    border-radius: 50%;
  }
  figure {
    margin: 0;
  }
  &__text {
    display: inline-block;
    margin: 0;
    padding: ($l-gutter/2);
    border: 2px solid $c-ui-elements;
    border-radius: 6px;
  }
  &__name,
  &__time {
    display: inline-block;
    color: $c-copy--lighter;
    font-size: .75rem;
    font-weight: 300;
  }
  &--right {
    flex-direction: row-reverse;
    main {
      text-align: right;
    }
    aside {
      margin-right: 0;
      margin-left: $l-gutter;
    }
  }
}
