<div *ngIf="chatDetail" class="chat-detail">
  <ul #scrollMe class="chat-detail__thread">
    <li class="message" *ngFor="let message of chatDetail.messageThread | myReverse; let messageIndex = index" [class.message--right]="message.authorID === '0'">
      <aside class="message__avatar" [ngStyle]="{'background-image': 'url(/img/avatar/' + message.authorID + '.jpg)'}"></aside>
      <main>
        <figure>
          <p class="message__text">{{message.text}}</p>
          <figcaption>
            <div class="message__name">
              <!-- TODO: prevent extra div's from being produced -->
              <div *ngFor="let user of users | myKeys">
                <span *ngIf="message.authorID === user.value.id">{{user.value.name}}</span>
              </div>
            </div>
            <span class="message__time">{{message.sentAt | amDateFormat:'M/D h:mmA'}}</span>
          </figcaption>
        </figure>
      </main>
    </li>
  </ul>
  <div class="chat-detail__form">
    <my-chat-form [chatDetail]="chatDetail" (onMessageSent)="fetchData($event)"></my-chat-form>
  </div>
</div>
